.mayof-container {
  position: relative;
  border: 1px solid black;
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  overflow: hidden;

  .translate-wrapper {
    position: absolute;
    top: 5%;
    right: 4%;
    z-index: 1000;
  }

  .exit-btn {
    position: absolute;
    background-image: url("../../../assets/svg/button/exit_button_black.svg");
    left: 4%;
    top: 5%;
  }

  .mayof-writer-container {
    position: absolute;
    left: 7%;
  }

  .mayof-ani-container {
    position: absolute;
    right: 0;
    top: 8%;
  }

  .mouse-fire {
    position: fixed;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    pointer-events: none;
    background-image: url("../../images/about-books/mayof-fire.png");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 999;
    transform: translate(-50%, -50%);
  }
}