.mayof-ani-container {
  position: relative;
  width: 810px;
  height: 1024px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .ani-book-wrapper {
    position: relative;
    background-image: url("../../images/about-books/mayof-book.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 948px;
    height: 690px;

    .left-section {
      position: absolute;
      width: 368px;
      height: 520px;
      transform: rotate(-8.6deg);
      left: 10%; 
      top: 17%;

      .book-text {
        font-family: "Hanyongun";
        font-size: 18px;
        line-height: 225%;
        letter-spacing: 1%;
      }

      .goto-btn {
        position: absolute;
        width: 200px;
        height: 50px;
        font-weight: 900;
        bottom: 2%;
      }
    }

    .mayof-player {
      position: absolute;
      right: 10%;
      top: 6%;
    }
  }
    
  > img {
    position: absolute;
  }

  .picture1 {
    left: -25%;
    top: -18%;
    z-index: -2;
  }

  .picture2 {
    right: -10%;
    top: -10%;
    z-index: -3;
  }

  .paper {
    right: -4%;
    top: -2%;
    z-index: -1;
  }
}