.exit-btn {
  // display: block;
  background-image: url("../../assets/svg/button/exit_button.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: calc(100% - 17px) center;
  border: none;
  width: 49px;
  height: 49px;
  cursor: pointer;
}