.exit-btn {
  background-image: url("../../assets/svg/button/exit_button.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  width: 49px;
  height: 49px;
  background-position: calc(100% - 17px) center;
}