* {
  box-sizing: border-box;
}

.memo-back {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  // backdrop-filter: blur(8px);
  background: #0303032f;
  z-index: 1000;

  .memo-container {
    position: relative;
    background-image: url("../../images/home/memomodal.png");
    background-repeat: no-repeat;
    width: 736px;
    height: 1041px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .memo-content {
      width: 535px;
      height: 695px;

      > p {
        font-family: "YES24";
        font-size: 16px;
        line-height: 150%;

      }
    }
  }
}