@font-face {
  font-family: "NotoSerif-Regular";
  src: url("src/assets/fonts/Black_Han_Sans,Noto_Sans,Noto_Serif_SC/Noto_Serif_SC/static/NotoSerifSC-Regular.ttf");
}

* {
  box-sizing: border-box;
}

.memo-back {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #03030388;
  z-index: 1000;

  .memo-container {
    position: relative;
    background-image: url("../../images/home/memomodal.png");
    background-repeat: no-repeat;
    width: 736px;
    height: 1041px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .memo-content {
      width: 535px;
      height: 695px;

      .translate-wrapper {
        .translate-container {
          position: absolute;
          top: 13%;
          left: 47%;
        }
      }

      .memo-script {
        &.lang-kr {
          font-family: "YES24";
          font-size: 16px;
          line-height: 150%;
        }

        &.lang-cn {
          width: 535px;
          position: absolute;
          top: 18%;
          font-family: "NotoSerif-Regular";
          font-size: 17px;
          line-height: 155%;
        }
      }    
    }
  }
}