@font-face {
  font-family: "YoonChild";
  src: url("../../../assets/fonts/YoonChildfundkoreaMinGuk.ttf");
}

@font-face {
  font-family: "Hanyongun";
  src: url("../../../assets/fonts/hanyongun.otf");
}

@font-face {
  font-family: "YES24";
  src: url("../../../assets/fonts/YES24MyoungjoR.otf");
}

body {
  background-color: #fff;
}

.white-ani-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 575px;
  height: 1024px;

  .white-ani-title {
    position: relative;
    width: 425px;

    .en {
      font-size: 80px;
      font-family: "YoonChild";
      color: #E7E7E7;
    }

    .kr {
      position: absolute;
      left: 10px;
      color: #000;

      &.lang-kr {
        font-size: 70px;
        font-family: "Hanyongun";
      }
      &.lang-cn {
        font-size: 70px;
        font-family: "SrcMing";
        margin-top: 10px;
      }
    }
  }

  .white-ani-content {
    width: 425px;
    overflow: hidden;

    .white-text {
      color: #000;

      &.lang-kr {
        font-family: "YES24";
        font-size: 20px;
        line-height: 200%;
      }
      &.lang-cn {
        font-family: "NotoSerif-Regular";
        font-size: 21px;
        line-height: 200%;
        letter-spacing: -1px;
      }

      .split-char {
        display: inline-block;
        will-change: transform, opacity;
      }
    }
  }
}
